<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head>
    <title>Agenda</title>
    <!--
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    -->
    <!--Import Google Icon Font-->
    <!-- <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->


    <link href="resources/fonts/icon.css?family=Material+Icons" rel="stylesheet">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'/>

    <link rel="stylesheet" href="resources/css/materialize.min.css">

    <!-- Compiled and minified JavaScript
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script> -->
    <!-- <script src="/js/jquery-2.2.2.min.js"></script> -->
    <!-- <script src="https://code.jquery.com/jquery-2.2.2.min.js"></script> -->
    <!-- <script src="/js/materialize.min.js"></script>-->

    <link href="resources/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css"/>

    <link type="text/css" rel="stylesheet" href="resources/css/global.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="resources/css/custom.css" media="screen,projection"/>

</head>

<body>

<nav>
    <div class="nav-wrapper">
        &nbsp; &nbsp;
        <span id="date"></span>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">


            <li><a href="/profile">
                Adrien Bucci</a></li>
            <li><a href="/logout">Logout</a></li>
            <li><a href="/view">About</a></li>
            <li><a href="/contact">Contact</a></li>

        </ul>
        <ul id="mobile-demo" class="side-nav">
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <div class="userView">
                            <div class="background">
                                <img src="resources/img/office.jpg">
                            </div>
                            <a href="/profile"><img class="circle"
                                                    src="https://scontent.xx.fbcdn.net/v/t1.0-1/p200x200/12670703_1730748203806681_6418773128635374824_n.jpg?oh&#x3D;1f3c211d7cf1bedd29f4568671995c86&amp;oe&#x3D;597169F9"></a>
                            <a href="#!name"><span class="white-text name">Adrien Bucci</span></a>
                            <a href="#!email"><span class="white-text email">adrien.itworks@gmail.com</span></a>
                        </div>
                    <li><a href="/logout" class="collapsible-header  waves-effect">Logout</a></li>

                    <li><a href="/view" class="collapsible-header  waves-effect">About</a></li>
                    <li><a href="/contact" class="collapsible-header  waves-effect">Contact</a></li>
                </ul>

            </li>
        </ul>


    </div>
</nav>


<!-- BOUTON ROND -->

<div class="fixed-action-btn horizontal click-to-toggle">
    <a class="btn-floating btn-large red waves-effect" href="#">
        <i class="large material-icons">add</i>
    </a>
</div>
<!-- FIN BOUTON ROND -->

<div class="container">
    <div class="row">
        <div class="col m12 s12">
            <div id="app" v-show="rdvs.length">
                <div v-for="(rdv, index, dateDay) in rdvs">
                    <div class="row-custom post">
                        <p class="description" style="display: none;">
                            {{rdv.mois}}
                        </p>
                    </div>
                    <div class="dayPanel">
                        <div class="dayNumber">
                            {{rdv.dateDay}}
                        </div>
                        <div class="dayText">
                            {{rdv.dateDayText}}
                        </div>
                    </div>
                    <a v-bind:class="[rdv.theme]"
                       class="panel item panel-custom panel-body waves-effect waves-light"
                       @click="afficher(index)"
                       href="#modal1">{{rdv.titreRdv}}
                        <br/>
                        <span class="heures">{{rdv.heureDebut}} - {{rdv.heureDebut}}</span>
                    </a>
                </div>
            </div>

            <!-- Modal Structure -->
            <div id="modal1" class="modal">
                <div class="modal-content">
                    <div v-show="details.length" v-for="detail in details">

                        <div class="card">
                            <div class="card-image" v-bind:class="[detail.theme]">
                                <div class="row-custom">
                                    <div class="s6 leftButton">
                                        <a href="#!"
                                           class="modal-action close modal-close waves-effect waves-green btn-flat"
                                           id="tatz">x</a>
                                    </div>
                                    <div class="s6 rightButton">
                                        <a href="#" class="more modal-more waves-effect"
                                           onclick="Materialize.toast($toastContent, 10000000,'',function(){})">...</a>
                                    </div>
                                </div>
                                <img :src="detail.image" class="detailImageTop">
                                <span class="card-title">{{detail.titreRdv}}</span>
                            </div>
                            <div class="card-content">

                                <div class="fixed-action-btn-modal horizontal click-to-toggle">
                                    <a class="btn-floating btn-large-custom red waves-effect" href="#">
                                        <i class="tiny-custom material-icons">edit</i>
                                    </a>
                                </div>

                                <div class="row textLines">
                                    <div class="col-sm-2-custom colIcon">
                                        <i class="tiny material-icons">schedule</i>
                                    </div>
                                    <div class="col-sm-10-custom colText">{{detail.date}}</div>
                                </div>
                                <div class="row textLines">
                                    <div class="col-sm-2-custom colIconHeure"> x</div>
                                    <div class="col-sm-10-custom colTextHeure">{{detail.heureDebut}} -
                                        {{detail.heureFin}}
                                    </div>
                                </div>
                                <div class="row textLines">
                                    <div class="col-sm-2-custom colIcon">
                                        <i class="tiny material-icons">perm_identity</i>
                                    </div>
                                    <div class="col-sm-10-custom colText">{{detail.contact}}</div>
                                </div>
                                <div class="row textLines">
                                    <div class="col-sm-2-custom colIcon">
                                        <i class="tiny material-icons">location_on</i>
                                    </div>
                                    <div class="col-sm-10-custom colText">{{detail.lieux}}</div>

                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>


    </div>

</div>


<script type="text/javascript" src="resources/js/vue.js"></script>
<script type="text/javascript" src="resources/js/jquery.js"></script>
<script type="text/javascript" src="resources/js/axios.min.js"></script>
<script type="text/javascript" src="app.js"></script>

<script type="text/javascript" src="resources/js/bootstrap.min.js"></script>


<!-- Compiled and minified JavaScript -->
<script src="resources/js/materialize.min.js"></script>
<script>
    $(document).ready(function () {
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();
        $(".button-collapse").sideNav();
        $('ul.tabs').tabs();
        $('select').material_select();
        // Plugin initialization
        $('.carousel.carousel-slider').carousel({fullWidth: true});
        $('.carousel').carousel();
        $('.slider').slider();
        $toastContent = $('<span class="tatz-bottom">' +
            '<div class="darkening-cover">&nbsp;</div>' +
            '<div class="row-custom-bottom">' +
            '<div class="col-sm-2-custom-bottom colIcon-bottom bottom-command-button-line"><i class="tiny material-icons">delete</i></div>' +
            '<div class="col-sm-10-custom-bottom colText-bottom bottom-command-button-line">Supprimer</div>' +
            '<div class="col-sm-2-custom-bottom colIcon-bottom"><a class="toast-dismiss" href="#">X</a></div>' +
            '<div class="col-sm-10-custom-bottom colText-bottom" id="dzz">Annuler</div>' +
            '</div>' +
            '</div>' +
            '</span>');
    });

    $(document).on('click', '#tatz', function () {
        $('#toast-container').fadeOut(function () {
            $(this).remove();
        });
    });

    $(document).on('click', '#dzz', function () {
        $('#toast-container').fadeOut(function () {
            $(this).remove();
        });
    });

    $(window).on("scroll resize", function () {
        var pos = $('#date').offset();
        $('.post').each(function () {
            if (pos.top >= $(this).offset().top && pos.top <= $(this).next().offset().top) {
                $('#date').html($(this).find('.description').text()); //or any other way you want to get the date
                return; //break the loop
            }
        });
    });

    $(document).ready(function () {
        $(window).trigger('scroll'); // init the value
    });

</script>

<!-- fastclick -->
<script src="resources/js/swipe/fastclick.js"></script>
<script>
    new FastClick(document.body);
</script>

<!-- swipeout and dependencies -->
<script src="resources/js/swipe/hammer.js"></script>
<script src="resources/js/swipe/swipeout.js"></script>
<script>
    new SwipeOut(document.getElementById("app"));
</script>

<!-- your custom code to handle events -->
<script src="resources/js/swipe/zepto.js"></script>

</body>
</html>