<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="application/javascript" src="resources/js/vue.js"></script>
    <link rel="stylesheet" href="resources/css/bootstrap.min.css" />
    <style>
        div {
            padding-bottom: 20px;
        }
    </style>
</head>
<body>

<div id="myvueinstance" class="container">


    <div class="row">UI element</div>
    <input type="text" v-model="textinput" class="form-control">

    <p></p>

    <div class="row">Vue Instance data object</div>
    {{ $data | json }}

</div>

<div id="myvueinstance2" class="container">


    <ul class="nav nav-pills">
        <li v-for="library in libraries" class="active">
            <a href="#" v-on:click="myfunction(library)">{{ library }}</a>
        </li>
    </ul>


</div>

<div id="myvueinstance3" class="container">
    <div class="row">UI List Element</div>

    <ul class="nav nav-pills">
        <li v-for="library in libraries" class="active"><a href="#">{{ library }}</a></li>
    </ul>

    <p> </p>

    <input class="form-control" type="text" placeholder="Enter name here" v-model="newlibrary">
    <button class="btn btn-info" v-on:click="addLibrary">Click to add library</button>
    <button class="btn btn-danger" v-on:click="deleteLibraries">Click to delete all libraries</button>

    <p> </p>

    <div class="row">Vue Instance data object</div>
    {{ $data | json }}
</div>


<div id="myvueinstance4" class="container">
    <div class="row">UI List Element</div>

    <input type="text" class="form-control" v-model="filterkey">

    <table class="table table-hover">
        <thead>
        <tr>
            <th><a href="#" v-on:click="sortvia('id')">id</a></th>
            <th><a href="#" v-on:click="sortvia('framework')">framework</a></th>
        </tr>
        </thead>

        <tbody>
        <tr v-for="framework in frameworks | filterBy filterkey | orderBy sortparam order">
            <td>{{ framework.id }}</td>
            <td>{{ framework.framework }}</td>
        </tr>
        </tbody>
    </table>
</div>



<script>
    var viewmodel = new Vue({
        el: '#myvueinstance',
        data: {
            textinput: 'Too hot, hot damn.'
        }
    });
    var viewmodel2 = new Vue({
        el: '#myvueinstance2',

        data: {
            libraries: ['angular.js', 'd3', 'node', 'jquery']
        },
        methods: {
            zmyfunction: function (tatz) {
                alert('you just clicked this: '+tatz);
            },

            myfunction: function() {
                var projets = [];
                // return the promise
                return this.$http.get('/projets', {type: this.type}).then(function(response) {
                    projets = response.data;
                    return projets;
                })
            }


        }
    });

    var viewmodel3 = new Vue({
        el: '#myvueinstance3',

        data: {
            libraries: ['angular.js', 'd3', 'node', 'jquery'],
            newlibrary: ''
        },

        methods: {
            addLibrary: function () {
                this.libraries.push(this.newlibrary);

                this.newlibrary = '';
            },

            deleteLibraries: function () {
                this.libraries = [];
            }
        }

    });

    var viewmodel4 = new Vue({
        el: '#myvueinstance4',

        data: {
            sortparam: '',

            fitlerkey: '',

            order: 1,

            frameworks: [
                {id: '001', framework: 'angular'},
                {id: '002', framework: 'd3'},
                {id: '003', framework: 'node'},
                {id: '004', framework: 'jquery'},
                {id: '005', framework: 'reveal.js'},
                {id: '006', framework: 'impress.js'},
                {id: '007', framework: 'backbone.js'},
                {id: '008', framework: 'meteor.js'},
                {id: '009', framework: 'express'},
                {id: '010', framework: 'moment'},
                {id: '011', framework: 'underscore'},
                {id: '012', framework: 'gulp'},
                {id: '013', framework: 'react'},
                {id: '014', framework: 'ghost'},
                {id: '015', framework: 'sweetalert'},
                {id: '016', framework: 'select2'},
            ]
        },

        methods: {
            sortvia: function (sortparam, order) {
                this.order = this.order * -1;
                this.sortparam = sortparam;
            }
        }
    });

</script>
</body>
</html>