<!DOCTYPE html>
<html>
<head>
    <title>Agenda</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="stylesheet" href="resources/css/bootstrap.css"/>
    <link rel="stylesheet" href="resources/css/custom.css"/>
</head>
<body>
<div class="container-fluid">
    <div class="topRow">
        <div id="events"></div>
        <span class="headerMonth">April</span>
    </div>
    <hr/>
    <div id="app" v-show="rdvs.length">
        <div v-for="(rdv, index, dateDay) in rdvs">
            <div class="row">
                <div class="dayPanel">
                    <div class="dayNumber">
                        {{rdv.dateDay}}
                    </div>
                    <div class="dayText">
                        {{rdv.dateDayText}}
                    </div>
                </div>

                <div class="panel item panel-custom-blue">
                    <div class="panel-body"  @click="afficher(index)">
                        <h1>{{rdv.titreRdv}}</h1>
                    </div>
                </div>
            </div>
        </div>

        <div v-show="details.length">
            <div class="panel-heading">Detail RDV</div>
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th class="col-sm-3">Titre</th>
                    <th class="col-sm-3">Date</th>
                    <th class="col-sm-3">Lieux</th>
                    <th class="col-sm-3">Contact</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="detail in details">
                    <td>{{detail.titreRdv}}</td>
                    <td>{{detail.date}}</td>
                    <td>{{detail.lieux}}</td>
                    <td>{{detail.contact}}</td>

                </tr>
                </tbody>
            </table>

        </div>
        <input type="text" v-model="name" class="form-control">

        <button v-on:click="getDataFromUserName">Github user</button>

        <ul>
            <li v-for="user in userData" v-text="user"></li>
        </ul>

        <hr/>
        <button v-on:click="getComments">Display comments</button>

        <ul>
            <li v-for="comment in comments">
                <span v-text="comment.id"></span><br/>
                <span v-text="comment.name"></span><br/>
                <span v-text="comment.email"></span><br/>
                <span v-text="comment.body"></span><br/>
            </li>
        </ul>
        <!--
            <hr/>
            <button v-on:click="postData">POST</button>
            <span v-for="status in statusData" v-text="status"></span>
            <br/>


            <button v-on:click="updateData">UPDATE</button>
            <span v-for="status in statusData" v-text="status"></span>
            <br/>
        -->
    </div>
</div>


<!--
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.6/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="/resources/js/vue.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.6/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
-->
<script type="text/javascript" src="resources/js/vue.js"></script>
<script type="text/javascript" src="resources/js/jquery.js"></script>
<script type="text/javascript" src="resources/js/axios.min.js"></script>
<script type="text/javascript" src="app.js"></script>

<script type="text/javascript" src="resources/js/bootstrap.min.js"></script>

<!-- fastclick -->
<script src="resources/js/swipe/fastclick.js"></script>
<script>
    new FastClick(document.body);
</script>

<!-- swipeout and dependencies -->
<script src="resources/js/swipe/hammer.js"></script>
<script src="resources/js/swipe/swipeout.js"></script>
<script>
    new SwipeOut(document.getElementById("app"));
</script>

<!-- your custom code to handle events -->
<script src="resources/js/swipe/zepto.js"></script>

</body>
</html>