<!DOCTYPE html>
<html>
<head>
    <title>Agenda</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <link rel="stylesheet" href="resources/css/bootstrap.css"/>
    <link rel="stylesheet" href="resources/css/custom.css"/>
</head>
<body>
<div class="container-fluid">
    <div class="topRow">
        <div id="events"></div>
        <span class="headerMonth">April</span>
    </div>
    <hr/>
    <div id="app" v-show="rdvs.length">
        <div v-for="(rdv, index, dateDay) in rdvs">
            <div class="row">
                <div class="dayPanel">
                    <div class="dayNumber">
                        {{rdv.dateDay}}
                    </div>
                    <div class="dayText">
                        {{rdv.dateDayText}}
                    </div>
                </div>

                <div class="panel item panel-custom-blue">
                    <div class="panel-body" @click="afficher(index)" data-toggle="modal" data-target="#myModal">
                        <h1>{{rdv.titreRdv}}</h1>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog-custom" v-for="detail in details">
                <div class="modal-content-custom">
                    <div class="modal-header-custom">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                        <button type="button" class="more" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">...</span>
                        </button>


                        <div>
                            <img :src="detail.image" class="detailImageTop">
                        </div>
                        <h4 class="modal-title-custom" id="myModalLabel">{{detail.titreRdv}}</h4>
                        <button type="button" class="btn btn-info btn-circle"><i
                                class="glyphicon glyphicon-pencil"></i></button>
                    </div>
                    <div class="modal-body">
                        <div v-show="details.length">
                            <div class="row">
                                <div class="col-sm-2-custom colIcon">
                                    <i class="glyphicon glyphicon-time"></i>
                                </div>
                                <div class="col-sm-10-custom colText">{{detail.date}}</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2-custom colIconHeure"> x </div>
                                <div class="col-sm-10-custom colTextHeure">{{detail.heureDebut}} - {{detail.heureFin}}</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2-custom colIcon">
                                    <i class="glyphicon glyphicon-user"></i>
                                </div>
                                <div class="col-sm-10-custom colText">{{detail.contact}}</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2-custom colIcon">
                                    <i class="glyphicon glyphicon-map-marker"></i>
                                </div>
                                <div class="col-sm-10-custom colText">{{detail.lieux}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!--
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.6/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="/resources/js/vue.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.6/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
-->
<script type="text/javascript" src="resources/js/vue.js"></script>
<script type="text/javascript" src="resources/js/jquery.js"></script>
<script type="text/javascript" src="resources/js/axios.min.js"></script>
<script type="text/javascript" src="app.js"></script>

<script type="text/javascript" src="resources/js/bootstrap.min.js"></script>

<!-- fastclick -->
<script src="resources/js/swipe/fastclick.js"></script>
<script>
    new FastClick(document.body);
</script>

<!-- swipeout and dependencies -->
<script src="resources/js/swipe/hammer.js"></script>
<script src="resources/js/swipe/swipeout.js"></script>
<script>
    new SwipeOut(document.getElementById("app"));
</script>

<!-- your custom code to handle events -->
<script src="resources/js/swipe/zepto.js"></script>

</body>
</html>