html, body {
    margin: 0 !important;
}

nav {
    color: grey !important;
    background-color: white !important;
    width: 100%;
    height: 56px;
    line-height: 56px;
    position: fixed;
    z-index: 1000;
}

#app {
    margin-top: 60px;
}

.topRow {
    height: 50px;
    margin: 0px -15px !important;
    background-color: #fff;
    z-index: 1px;
}

.headerMonth {
    padding: 15px;
    display: block;
    font-size: 18px;
}

.heures {
    font-size: 10px;
}

.panel-body {
    padding: 30px 0px 8px 12px;
    margin: 0px 0px 0;
    width: 75%;
    border-radius: 3px;
    font-size: 11px;
}

.detailImageTop {
    width: 100%;
}

.panel:hover {
    background-color: #1a237e;
    border-radius: 0px;
}

h1, .h1 {
    font-size: 16px !important;
    margin-top: 0px;
    margin-bottom: 0px;
}

div.item:nth-child(2) .panel-body {
    padding: 3px 12px 0px;
    margin: 6px 0px 0px;
}

.none:nth-of-type(1){
    background-color: #00C853;
}

.none2:nth-of-type(1) {
    background-color: #9c27b0;
}

.dayPanel {
    width: 20%;
    margin-left: 0px;
    display: block;
    float: left;
    padding: 0px 17px;
    margin-top: 5px;
}

.row-custom {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 11px;
    margin-top: 5px;
}

.fixed-action-btn.horizontal-modal {
    padding: 0 0 0 15px;
}

.fixed-action-btn-modal {
    position: fixed;
    left: 8%;
    margin-top: -42px;
    margin-bottom: 0;
    z-index: 998;
}

.btn-floating.btn-large-custom {
    width: 34px;
    height: 34px;
}

.btn-floating-custom i {
    width: inherit;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    line-height: 36px;
}

.none, .none2 {
    background-image:url('../img/none.png');
    font-family: "Roboto", sans-serif;
    color: white;
    background-color: orangered;
}



.pro {
    background-image:url('../img/pro.jpg');
    font-family: "Roboto", sans-serif;
    color: white;
}

.perso {
    background-image:url('../img/perso.jpg');
    font-family: "Roboto", sans-serif;
    color: white;
}

.public {
    background-image:url('../img/public.jpg');
    font-family: "Roboto", sans-serif;
    color: white;
}

.dayNumber, .dayText {
    text-align: center;
}

.dayNumber {

}

.dayText {

}

i.tiny {
    font-size: 18px !important;
}
i.tiny-custom {
    font-size: 18px !important;
    line-height: 36px;
}

.btn-floating {
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.7)!important;
}

.card .card-image .card-title {
    padding: 0px 0px 25px 70px!important;
    font-weight: 400;
}

/* MODAL */

.modal {
    width: 100%;
    height: 100%;
    min-height: 100%;
    margin: 0;
    top: 0 !important;
    position: fixed;
    background-color: #fff;
}

.modal-content {
    padding: 0px !important;
    top: 0px;
    height: 100%;
}

.card {
    position: relative;
    margin: -12px 0 0px 0;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
    height: 100%;}

.modal-header-custom {
    padding: 0px;
    border-bottom: 0px;
}

.modal-content-custom {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 0px solid #999;
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 0px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}

.modal-title-custom {
    margin: -45px 9px 11px 80px;
    padding-bottom: 4px;
    color: #fff;
}

button.close {
    -webkit-appearance: none;
    margin: 10px 5px -80px 10px;
    cursor: pointer;
    background: transparent;
    border: 0;
    text-align: left;
    display: inline-block;
}

.close:hover, .close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=99);
    opacity: .9;
}

.close {
    float: left;
    font-size: 16px;
    line-height: 1;
    color: white;
    filter: alpha(opacity=99);
    opacity: 1;
    font-weight: normal;
    line-height: 1;
    padding-top: 14px;
    margin-bottom: -36px;
}

button.more {
    -webkit-appearance: none;
    margin: 10px 5px -80px 300px;
    cursor: pointer;
    background: transparent;
    border: 0;
    text-align: left;
    display: inline-block;
}

.more:hover, .more:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=99);
    opacity: .9;
}

.more {
    font-size: 21px;
    line-height: 1;
    color: #fff;
    filter: alpha(opacity=99);
    opacity: 1;
    font-weight: normal;
    margin-bottom: -36px;
    text-shadow: 0 1px 0 #fff;
    padding-top: 5px;
    padding-right: 26px;
}

.rightButton, .leftButton {
    display: block;
    width: 50%;
}

.rightButton {
    float: right;
    background-color: blue;
}

.leftButton {
    float: left;
    background-color: red;
}

.btn-circle.btn {
    width: 30px;
    height: 30px;
    padding: 6px 6px;
    font-size: 14px;
    line-height: 1.33;
    border-radius: 25px;
    margin: -4px 0px 0px 21px;
}

.col-sm-2-custom {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}

.colIconHeure {
    float: left;
    margin: -8px 0px 4px;
    width: 20%;
    padding: 0px;
    text-align: center;
    color: #fff;
}

.colIcon {
    float: left;
    margin: 8px 0px;
    width: 20%;
    padding: 0px;
    text-align: center;
}

.colText {
    float: left;
    margin: 7px 0px;
    width: 80%;
    padding: 0px;
    font-size: 12px;
}

.colTextHeure {
    float: left;
    margin: -15px 0px 4px;
    width: 80%;
    padding: 0px;
    font-size: 12px;
}

.textLines {
    margin-bottom: 0px !important;
}

#toast-container .toast {
    cursor: pointer;
}

#toast-container {
    min-width: 100%;
    bottom: 0%;
    height: 100%;
}

.toast {
    background-color: transparent;
    color: black;
    /* top: 47px; */
    /* margin-top: 80%; */
    padding: 0;
    /* opacity: 1; */
    margin-top: 0px!important;
    display: block;
    position: absolute;
    height: 84%;
}

.darkening-cover {
    background-color: black;
    opacity: 0.4;
    height: 100%;
    display: block;
    padding-top: 100%;
}

.toast-dismiss {
    float: left;
    font-size: 16px;
    line-height: 1;
    color: black;
    filter: alpha(opacity=99);
    opacity: 1;
    font-weight: normal;
    padding-top: 3px;
    padding-left: 3px;
}

.tatz-bottom {
    width: 100%;
    height: 100%;
    display: block;
}
.row-custom-bottom {
    margin-bottom: -34px;
}

.col-sm-2-custom-bottom {
    width: 20%;
    display: flex;
    float: left;
    height: 23px;
    text-align: center;
    padding-left: 18px;
    background-color: white;

}

.bottom-command-button-line {
    margin-top: 25px;
}

.col-sm-10-custom-bottom {
    width: 80%;
    display: block;
    float: right;
    font-size: 12px;
    padding-left: 0px;
    background-color: white;
}

.colText-bottom {

}

/* events */
#events {
    padding: 10px;
    text-align: center;
    color: #666;
    background-color: #ccc;
}

#events.delete {
    color: #b94a48;
    background-color: #f2dede;
}

#events.click {
    color: #468847;
    background-color: #dff0d8;
}

.z-depth-1, .card-panel, .card, .btn, .dropdown-content, .collapsible, .side-nav {
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0px rgba(0, 0, 0, 0)!important;
}

.toast {
    2px 2px 2px 2px rgba(0,0,0,0.14), 5px 5px 5px 5px rgba(0,0,0,0.12), 3px 3px 3px 3px rgba(0,0,0,0.2);
}

.z-depth-4, .modal {
    box-shadow: 0 0px 0px 0px rgba(0,0,0,0), 0 0px 0px 0px rgba(0,0,0,0), 0 0px 0px 0px rgba(0,0,0,0)!important;
}

/* swipe */
.swipe-out .delete-btn {
    padding: 6px 8px;
    background-color: indianred;
    color: #fff;
}

.swipe-out .delete-btn:hover {
    cursor: pointer;
}

#date {
    color: black;
    top: 0px!important;
    width: 100%;
}

.post {
}