.justify-align {
text-align:justify;
}

.small {
font-size:12px;
}

.smallest {
font-size:11px;
}

.medium-text {
    font-size: 15px!important;
}
.pt-10 {
padding-top:10px;
}

.pt-20 {
padding-top:20px;
}

.pt-30 {
padding-top:30px;
}

.pt-40 {
padding-top:40px;
}

.large-btn {
width:250px;
}

.small-img {
padding:0 25px;
}

.resize-img {
width:50%;
}

.pl-10 {
padding-left:10px;
}

.pl-20 {
padding-left:20px;
}

.pr-20 {
padding-right:20px;
}

.mt-30 {
margin-top:30px;
}

.btn-small {
    padding: 0 5%;
}

span h5 {
font-size:22px;
}

.more {
display:block;
text-align:right;
}

i.material-icons.right.activator {
cursor:pointer;
}

.comment {
display:block;
text-align:justify;
padding-top:10px;
font-size:12px;
}

.auteur,.date, .title {
vertical-align:10px;
padding-left:5px;
}

.textareaComments {
    height: 100px;
}

.error {
    padding: 10px;
    background-color: #ea4a4f;
    color: floralwhite;
    font-size: 12px;
}
.success {
    padding: 10px;
    background-color: #00C853;
    color: floralwhite;
    font-size: 12px;
}

.carousel .carousel-item img {
    width: 128px!important;
}

.tatzCarousel{
    height: 520px!important;
}

.carousel .indicators .indicator-item.active {
    background-color: blue;
}

.carousel .indicators .indicator-item {
    background-color: cornflowerblue;
}

.cornflowerblue {
    background-color: cornflowerblue;
}